{% extends 'layouts/base.html' %}
{% load compress %}
{% load staticfiles %}

{% block content %}

<div class="ui stripe center aligned vertical title segment">
  Recruitment
</div>

<div class="ui feature medium-font stripe vertical segment">
  <div class="ui container grid">
    <div class="centered row">
      <h1 class="ui header">
        <div class="content">
          <!<img class="ui centered medium bordered rounded image" src="/static/img/logo.png">
          <h2 id="closed" align="center">Recruitment for Spring 2018 is now open!</h2>
		  <br>
          <a href="https://goo.gl/forms/QozsnrXZ4OSWe4mE3">Click here</a> to apply.
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="ui feature medium-font vertical stripe segment">
  <div class="ui container">
    <br><br>
    Events are open to all students! All events are business casual.
    <center><img src="/static/img/RecruitmentEventTimelineSpring2018.png"></center>    
  </div>
</div>

<div class="ui feature medium-font vertical stripe segment">
  <div class="ui container">

    <h2 class="ui header">The Recruitment Process</h2>
    <p>
      Join the Consulting Group at Virginia Tech to enhance your professional consulting skillset, gain a competitive advantage against ​the competition, and begin the path to a successful career. The recruitment process will test your analytical and professional skills through a series of interviews and training through the Associate Program.
    </p>
	<h3>How to receive an interview</h3>
	<ul>
		<li>Ensure that your resume is concise but thorough, comprehensive but relevant, and completely free of grammatical or formatting errors</li>
		<li>Effectively communicate your prior professional experience in order to prove your ability to contribute to CGVT </li>
		<li>Maintain a high academic standard (3.0+) to show your ability to follow directions and work hard </li>
		<li>Attend CGVT recruitment events to meet CGVT leadership and better understand our role at Virginia Tech, in Blacksburg, and in the consulting world</li>
	</ul>
	<h3>The Interview</h3>
	<p>The interview will consist of both a case study and a behavioral portion to test your critical thinking and interpersonal skills.</p>
	<h4>Case</h4>
	<p>
	The case will be sent to you two days prior to your scheduled interview. Interviewers will be scoring based on your knowledge of the industry, case strategy, solution feasibility, presentation and communication. Applicants should be prepared to answer questions regarding the case and their solution. </p>
	<h4>Behavioral</h4>
	<p>
	The behavioral portion may consist of a review of your resume and further questions about your background and relevant experiences. Interviewers are looking for applicants to be conversational, passionate, and interested. Essentially, would you pass the <a href="https://www.wetfeet.com/articles/the-airplane-test">Airplane Test</a>?
	</p>
	<h4>Resources</h4>
	<ul>
		<li><a href="https://www.amazon.com/Case-Point-Complete-Interview-Preparation/dp/0986370711">Case In Point by Marc Cosentino</a></li>
		<li><a href="https://www.bcg.com/en-us/careers/path/consulting/practice-interview-cases.aspx">BCG practice case</a></li>
		<li><a href="http://caseinterviewprep.deloitte.com/">Deloitte practice cases</a></li>
		<li><a href="http://www.oliverwyman.com/careers/entry-level/interview-preparation.html#Casesimulations">Oliver Wyman practice cases</a></li>
	</ul>
  </div>
</div>



{% endblock %}
