<div class="following bar">
  <div class="ui container">
    <div class="ui large secondary inverted menu">
      <div class="left desktop-only menu">
        <a href="/home/">
          <img class="ui logo circular image" src="/static/img/logo-maroon.png">
        </a>
      </div>
      <div class="menu">
        <a href="/home/" class="cgvt-brown {% if active_tab == 'home' %}active{% endif %} item">
          Home
        </a>
        <a href="/about/" class="cgvt-brown {% if active_tab == 'about' %}active{% endif %} item">
          About
        </a>
        <a href="/projects/" class="cgvt-brown {% if active_tab == 'projects' %}active{% endif %} item">
          Projects
        </a>
        <a href="/recruitment/" class="cgvt-brown {% if active_tab == 'recruitment' %}active{% endif %} item">
          Recruitment
        </a>
		    <a href="/calendar/" class="cgvt-brown {% if active_tab == 'calendar' %}active{% endif %} item">
          Calendar
        </a>
      </div>
    </div>
  </div>
</div>
