<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <h4 class="ui inverted header">The Consulting Group at Virginia Tech</h4>
    <div class="ui horizontal divider">
      <i class="inverted thumbs up outline icon"></i>
    </div>
    <p>Let's get in touch</p>
    <a class="ui facebook icon button" href="https://www.facebook.com/VTConsulting" target="_blank">
       <i class="facebook icon"></i>
    </a>
    <a class="ui linkedin icon button" href="https://www.linkedin.com/company/24428531/" target="_blank">
      <i class="linkedin icon"></i>
    </a>
    <a class="ui icon button" href="mailto:cgvt@vt.edu" target="_blank">
      <i class="mail icon"></i>
    </a>
    <div class="ui horizontal divider"></div>
  </div>
</div>
